<article id={{bookingId}} class='card flex-container'>
    <div><img src="/img/user.png"></div>
    <div>
        <p class='name'>{{data.name}} {{data.surname}}</p>
        <p>{{data.email}}</p>
        <p>{{data.phone}}</p>
    </div>
    <div>
        <a href='/tenantFullInfo/{{bookingId}}'><button class='beight-btn'>Просмотреть</button></a>
    </div>
</article>
