<article id={{messageData.dialoge}} class='card flex-container dialoge-card'>
    <div><img src='/img/user.png'></div>
    <div>
        <p class='message-sender'>{{messageData.sender}}</p>
        <p class='message-text'>{{messageData.message}}</p>
        <p><time>{{messageData.time}}</time></p>
    </div>
    <a href='/dialoge/{{messageData.dialoge}}'><button class='beight-btn'>Просмотреть</button></a>
    </div>
</article>
